<section class="container resume-section">
  <div class="w-100 text-center">
    <h6>Hola! si deseas contactarte conmigo puedes hacerlo a través de mi redes sociales.</h6>
    <div class="animated bounceInDown slow justify-content-around d-flex contact-icons mt-5">
      <a href="https://www.linkedin.com/in/fmunives" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/fmunives" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.instagram.com/fredd_munive/?hl=es-la" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://twitter.com/freddy_munive" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <div class="row animated fadeIn slower">
      <div class="col">
        <h6 class="mt-5">Estemos en contacto.</h6>
        <form>
          <div class="form-row">
            <div class="col-md-12 mb-2">
              <input type="text" class="form-control" placeholder="Nombre y Apellidos">
            </div>
            <div class="col-md-12 mb-2">
              <input type="text" class="form-control" placeholder="Correo electrónico">
            </div>
            <div class="col-md-12 mb-2">
              <textarea name="" placeholder="Escribe tu mensaje" class="form-control" id="" cols="30"
                rows="5"></textarea>
            </div>
            <div class="col">
              <input type="submit" value="Enviar" class="link-proyectos btn btn-success btn-block">
            </div>
          </div>
        </form>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <div class="animated fadeIn slower">
          <div class="row ">
            <div class="col-md-12">
              <h6 class="mt-5 mb-2">Si desea puedes escríbirme al whatsapp</h6>
              <div class="link-proyectos-box mb-2">
                <a class="js-scroll-trigger link-proyectos btn btn-success "
                  href="https://api.whatsapp.com/send?phone=51979201680&text=Hola!%20deseo%20un%sitio%20%web!"
                  target="_blank">
                  <i class="fab fa-whatsapp mr-2"></i>
                  979-201-680
                </a>
              </div>
            </div>
            <div class="col-md-12 ">
              <h6 class="mt-5 mb-2">o enviarme un email</h6>
              <div class="link-proyectos-box mb-2">
                <a class="js-scroll-trigger link-proyectos btn btn-success " href=' mailto:munivef@gmail.com'
                  target="_blank">
                  <i class="far fa-envelope"></i>
                  munivef@gmail.com
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
