<section class="animated fadeIn resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
  <div class="w-100">
    <div class="subheading mb-3 text-center mb-5">
      <p>Lenguajes de proramación &amp; Herramientas</p>
    </div>
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-3 col-sm-2 col-md-3 col-lg-2 text-center mb-5">
          <p class="d-flex flex-column icon-skill">
            <i class="fab fa-2x fa-html5"></i><small>html</small></p>
        </div>
        <div class="col-3 col-sm-2 col-md-3 col-lg-2 text-center mb-5">
          <p class="d-flex flex-column icon-skill">
            <i class="fab fa-2x fa-css3-alt"></i><small>css</small></p>
        </div>
        <div class="col-3 col-sm-2 col-md-3 col-lg-2 text-center mb-5">
          <p class="d-flex flex-column icon-skill">
            <i class="fab fa-2x fa-js-square"></i><small>javascript</small>
          </p>
        </div>
        <div class="col-3 col-sm-2 col-md-3 col-lg-2 text-center mb-5">
          <p class="d-flex flex-column icon-skill">
            <i class="fab fa-2x fa-react"></i><small>react</small></p>
        </div>
        <div class="col-3 col-sm-2  col-md-3 col-lg-2 text-center mb-5">
          <p class="d-flex flex-column icon-skill">
            <i class="fab fa-2x fa-bootstrap"></i><small>bootstrap</small>
          </p>
        </div>

        <div class="col-3 col-sm-2 col-md-3 col-lg-2 text-center mb-5">
          <p class="d-flex flex-column icon-skill">
            <i class="fab fa-2x fa-font-awesome"></i><small>awesome</small>
          </p>
        </div>

        <div class="col-3 col-sm-2 col-md-3 col-lg-2 text-center mb-5">
          <p class="d-flex flex-column icon-skill">
            <i class="fab fa-2x fa-github"></i><small>github</small></p>
        </div>
        <div class="col-3 col-sm-2 col-md-3 col-lg-2 text-center mb-5">
          <p class="d-flex flex-column icon-skill">
            <i class="fab fa-2x fa-bitbucket"></i><small>bitbucker</small>
          </p>
        </div>
        <div class="col-3 col-sm-2  col-md-3 col-lg-2 text-center mb-5">
          <p class="d-flex flex-column icon-skill">
            <i class="fab fa-2x fa-wordpress"></i><small>wordpress</small>
          </p>
        </div>
        <div class=" col-3 col-sm-2 col-md-3 col-lg-2 text-center mb-5">
          <p class="d-flex flex-column icon-skill">
            <i class="fab fa-2x fa-php"></i><small>php</small>
          </p>
        </div>
        <div class=" col-3 col-sm-2 col-md-3 col-lg-2 text-center mb-5">
          <p class="d-flex flex-column icon-skill">
            <i class="fab fa-2x fa-laravel"></i><small>laravel</small>
          </p>
        </div>
        <div class=" col-3 col-sm-2 col-md-3 col-lg-2 text-center mb-5">
          <p class="d-flex flex-column icon-skill">
            <i class="fab fa-2x fa-python"></i><small>python</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
