<section class="container-fluid resume-section">
  <div class="">
    <h6 class="subtitle">Experiencia laboral</h6>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-3 text-center ">
        <div class="Box-project">
          <a [routerLink]="['/about']">
            <p class="mt-2 pt-2">IBM</p>
            <figure class="figure">
              <img src="./assets/img/ibm.jpg" class="figure-img img-fluid rounded" alt="...">
              <figcaption class="figure-caption text-white">Soporte de TI</figcaption>
              <small style="color: #ccc;">Marzo 2017 - Agosto 2019</small>
            </figure>
          </a>
        </div>
      </div>
      <div class="col-sm-12 offset-md-3 col-md-6">
        <p>
          Actualmente me desempeño como <strong style="color: rgb(0, 255, 136);">desarrollador independiente</strong>.
          Dentro de
          mis habilidades que estoy mejorando está Angular y ASP .Net.
        </p>
        <p>Si deseas pudes visitar mi site en linkedIn y/o descargar mi CV.</p>
        <div class="row">
          <div class="col-md-6">
            <div class="link-proyectos-box mb-2">
              <a class="js-scroll-trigger link-proyectos " href='https://www.linkedin.com/in/fmunives/' target="_blank">
                <i class="fab fa-linkedin-in mr-1"></i>
                LinkedIn
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="link-proyectos-box">
              <a class="js-scroll-trigger link-proyectos "
                href="https://www.dropbox.com/s/0f7m6fi6i1cxtur/Freddy_Munive_CV_Web.pdf?dl=0" target="_blank">
                <i class="fas fa-book mr-1"></i>
                Mi CV</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="">
        <h6 class="mt-5 subtitle">Estudios</h6>
        <hr>
        <div class="row">
          <div class="col-sm-12 col-md-6 text-center ">
            <div class="Box-project">
              <a [routerLink]="['/about']">
                <p class="mt-2 pt-2">San Ignacio de Loyola</p>
                <figure class="figure">
                  <img src="./assets/img/usil.jpg" class="figure-img img-fluid rounded" alt="...">
                  <figcaption class="figure-caption text-white">Ing. Informática y de Sistemas</figcaption>
                  <small style="color: #ccc;">Marzo 2013 - Febrero 2018</small>
                </figure>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="">
        <h6 class="mt-5 subtitle">Formación Online</h6>
        <hr>
        <div class="row">
          <div class="col-6 col-md-3 text-center ">
            <div class="">
              <a href="https://www.udemy.com/" target="_blank">
                <figure class="figure">
                  <img src="./assets/img/udemy.jpg" class="figure-img img-fluid rounded" alt="...">
                  <figcaption class="figure-caption text-white">Udemy</figcaption>
                </figure>
              </a>
            </div>
          </div>
          <div class="col-6 col-md-3 text-center ">
            <div class="">
              <a href="https://ed.team/" target="_blank">
                <figure class="figure">
                  <img src="./assets/img/edteam.jpg" class="figure-img img-fluid rounded" alt="...">
                  <figcaption class="figure-caption text-white">EDTeam</figcaption>
                </figure>
              </a>
            </div>
          </div>
          <div class="col-6 col-md-3 text-center ">
            <div class="">
              <a href="https://www.crehana.com/pe/" target="_blank">
                <figure class="figure">
                  <img src="./assets/img/crehana.png" class="figure-img img-fluid rounded" alt="...">
                  <figcaption class="figure-caption text-white">Crehana</figcaption>
                </figure>
              </a>
            </div>
          </div>
          <div class="col-6 col-md-3 text-center ">
            <div class="">
              <a href="https://kodoti.com/" target="_blank">
                <figure class="figure">
                  <img src="./assets/img/kodoti.jfif" class="figure-img img-fluid rounded" alt="...">
                  <figcaption class="figure-caption text-white">Kodoti</figcaption>
                </figure>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
