<section class=" animated fadeIn resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
  <div class="w-100">
    <h2 class="mb-5">Certificaciones</h2>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fas fa-graduation-cap"></i>
        Especialización Backend con PHP - <a href="https://ed.team/cursos" target="_blank">EDTeam</a> , En
        progreso 2019</li>
      <li>
      <li>
        <i class="fas fa-graduation-cap"></i>
        Especialización Frontend React.js <a href="https://ed.team/cursos" target="_blank">EDTeam</a> , En
        progreso 2019</li>
      <li>
      <li>
        <i class="fas fa-graduation-cap"></i>
        Especialización Frontend desde cero <a href="https://ed.team/cursos" target="_blank">EDTeam</a> , En
        progreso 2019</li>
      <li>
      <li>
        <i class="fas fa-graduation-cap"></i>
        Especialización JavaScript en el Navegador <a href="https://ed.team/cursos" target="_blank">EDTeam</a> , En
        progreso 2019</li>
      <li>
        <br>
      <li>
        <i class="fas fa-graduation-cap"></i>
        Wokkshop Bootstrap 4 - <a href="https://ed.team/cursos" target="_blank">EDTeam</a>
        ,
        Agosto 2019</li>
      <li>
        <i class="fas fa-graduation-cap"></i>
        Bootstrap 4 - <a href="https://codigofacilito.com/" target="_blank">CódigoFacilito</a>
        , Mayo 2019</li>
      <li>
        <i class="fas fa-graduation-cap"></i>
        Wordpress Essencial - <a href="https://www.linkedin.com/learning/" target="_blank">LinkedIn</a>, Mayo 2019
      </li>
      <li>
        <i class="fas fa-graduation-cap"></i>
        Fundamentos de Diseño UX - <a href="https://www.crehana.com/pe/" target="_blank">Crehana</a>, Abril 2019
      </li>
      <li>
        <i class="fas fa-graduation-cap"></i>
        Git y GitHub básico - <a href="https://devcode.la/" target="_blank">DevCode</a>,
        Abril
        2019</li>
      <li>
        <i class="fas fa-graduation-cap"></i>
        Python Básico - <a href="https://www.coursera.org/" target="_blank">Coursera</a>,
        Abril 2019</li>
      <li>
        <i class="fas fa-graduation-cap"></i>
        SQL and Relational Databases - <a href="https://cognitiveclass.ai/" target="_blank">CognitiveClass</a>,
        Marzo 2019.</li>
      <li>
        <i class="fas fa-graduation-cap"></i>
        Python for Data Science - <a href="https://cognitiveclass.ai/" target="_blank">CognitiveClass</a>, Noviembre
        2018.</li>
    </ul>
  </div>
</section>
