<section class="animated fadeIn resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
  <div class="container">
    <div class="">
      <h6>Formación profesional</h6>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 100%;">
            <img src="assets/img/usil.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ing. Informática y de Sistemas</h5>
              <p class="card-text">Marzo 2013 - Febrero 2018</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <h6>Formación profesional</h6>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 100%;">
            <img src="assets/img/usil.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ing. Informática y de Sistemas</h5>
              <p class="card-text">Marzo 2013 - Febrero 2018</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 100%;">
            <img src="assets/img/usil.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ing. Informática y de Sistemas</h5>
              <p class="card-text">Marzo 2013 - Febrero 2018</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 100%;">
            <img src="assets/img/usil.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ing. Informática y de Sistemas</h5>
              <p class="card-text">Marzo 2013 - Febrero 2018</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
