<section class="animated fadeIn resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
  <div class="w-100">
    <h2 class="mb-5">Educación</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Universidad San Ignacio de Loyola</h3>
        <div class="subheading mb-3">Facultad de Ingeniería</div>
        <div>Ing. Informática y de Sistemas</div>
        <p>En el ámbito de sistemas obtve conocimientos de SQL Server, Oracle, Java, .Net, HTML 5, CSS. Con respecto
          a Gestión de Proyectos Ms Project y la metodología SCRUM. En el ámbito de redes y seguridad, lleve Cisco
          Networking I y II, ISO 27000, Seguridad Informática y de la Información. Sobre auditoria y gestión de
          calidad lleve ITIL y COBIT. Finalmente, otros conomientos de aplicaciones empresariales, sistemas
          operativos y linux.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Marzo 2017 - Febrero 2018</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h3 class="mb-0">Instituto San Martín de Pangoa,</h3>
        <div class="subheading mb-3">Tec. Computación e Informática</div>
        <p>Obtuve conocimiento de emsamblaje de hardware, redes esencial. En programción, Visual Basic, Power
          Builder, C++. Asimismo, lleve cursos relacionados a Office, contabilidad y finanzas.
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Marzo 2018 - Diciembre 2011</span>
      </div>
    </div>

  </div>
</section>
