.icons-tecno {
  display: flex;
  justify-content: space-around;
}

.icons-tecno li {
  list-style: none;
}

.icons-tecno li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons-tecno li small {
  display: inline-block;
}

.icons-tecno li i {
  font-size: 2rem;
}

.icons-tecno li img {
  width: 2rem;
}

.Box-project {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 99%;
}

.Box-project:hover {
  animation-duration: 3s;
  transition: all 0.2s ease;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.figure {
  width: 95%;
}
