<div class="row">
  <div class="col-sm-12 col-md-6 text-center ">
    <div class="Box-project">
      <a href="https://grupovygingenieros.com/" target="_blank">
        <p class="mt-2 pt-2">V&G Grupo
          Ingenieros</p>
        <figure class="figure">
          <img src="./assets/img/grupo-vg-ingenieros.PNG" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption text-white">Hecho con:</figcaption>
        </figure>
        <div class="row">
          <div class="col">
            <ul class="icons-tecno">
              <li class="icons-tecno-item">
                <a href="https://es.reactjs.org/" target="_blank">
                  <img src="assets/img/react2.png" alt="">
                  <small>React</small>
                </a>
              </li>
              <li class="icons-tecno-item">
                <a href="https://mdbootstrap.com/docs/react/" target="_blank">
                  <img src="assets/img/mdb.png" alt="">
                  <small>MDB React</small>
                </a>
              </li>
              <li class="icons-tecno-item">
                <a href="https://ed-grid.com" target="_blank">
                  <img src="assets/img/edgrid.png" alt="">
                  <small>EDGrid</small>
                </a>
              </li>
              <li class="icons-tecno-item">
                <a href="https://firebase.google.com/?hl=es-419" target="_blank">
                  <img src="assets/img/firebase.png" alt="">
                  <small>Firebase</small>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 text-center ">
    <div class="Box-project">
      <a href="https://fmunives.github.io/portafolio/#/home" target="_blank">
        <p class="mt-2 pt-2">FMUNIVE'S Portfolio</p>
        <figure class="figure">
          <img src="./assets/img/fmunives.PNG" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption text-white">Hecho con:</figcaption>
        </figure>
        <div class="row">
          <div class="col">
            <ul class="icons-tecno">
              <li class="icons-tecno-item">
                <a href="https://es.reactjs.org/" target="_blank">
                  <img src="assets/img/angular.png" alt="">
                  <small>Angular</small>
                </a>
              </li>
              <li class="icons-tecno-item">
                <a [routerLink]="['/projects']">
                  <img src="assets/img/html-css.png" alt="">
                  <small>HTML y CSS</small>
                </a>
              </li>
              <li class="icons-tecno-item">
                <a href="https://firebase.google.com/?hl=es-419" target="_blank">
                  <img src="assets/img/firebase.png" alt="">
                  <small>Firebase</small>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 text-center">
    <div class="Box-project">
      <a href="http://studio28.surge.sh/" target="_blank">
        <p class="mt-2 pt-2">Design Studio</p>
        <figure class="figure">
          <img src="assets/img/design-studio.png" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption text-white">Hecho con:</figcaption>
        </figure>
        <div class="row">
          <div class="col">
            <ul class="icons-tecno">
              <li class="icons-tecno-item">
                <a href="https://jquery.com/" target="_blank">
                  <img src="assets/img/jquery.png" alt="">
                  <small>Jquery</small>
                </a>
              </li>
              <li class="icons-tecno-item">
                <a [routerLink]="['/projects']">
                  <img src="assets/img/html-css.png" alt="">
                  <small>HTML y CSS</small>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 text-center ">
    <div class="Box-project">
      <a href="https://fmunives.github.io/SEFAA/" target="_blank">
        <p class="mt-2 pt-2">SEFAA</p>
        <figure class="figure">
          <img src="assets/img/sefaa.jpg" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption text-white">Hecho con:</figcaption>
        </figure>
        <div class="row">
          <div class="col">
            <ul class="icons-tecno">
              <li class="icons-tecno-item">
                <a href="https://getbootstrap.com/" target="_blank">
                  <img src="assets/img/bootstrap.png" alt="">
                  <small>Bootstrap</small>
                </a>
              </li>
              <li class="icons-tecno-item">
                <a [routerLink]="['/projects']">
                  <img src="assets/img/html-css.png" alt="">
                  <small>HTML y CSS</small>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 text-center">
    <p class="mt-5 text-center">Sabías que mi site esta hecho con: </p>
    <div class="row">
      <div class="col ">
        <ul class="icons-tecno Box-project">
          <li class="icons-tecno-item">
            <a href="https://es.reactjs.org/" target="_blank">
              <img src="assets/img/angular.png" alt="">
              <small>Angular</small>
            </a>
          </li>
          <li class="icons-tecno-item">
            <a href="https://getbootstrap.com/" target="_blank">
              <img src="assets/img/bootstrap.png" alt="">
              <small>Bootstrap</small>
            </a>
          </li>
          <li class="icons-tecno-item">
            <a [routerLink]="['/projects']">
              <img src="assets/img/html-css.png" alt="">
              <small>HTML y CSS</small>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
