<section class="animated fadeIn resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
  <div class="w-100">
    <h2 class="mb-5">Proyectos</h2>
    <p>Actualmente trabajando en el sitio web de V&G Grupo Ingenieros, una startup
      dedicado a
      la capacitación y
      asesoramiento sobre temas relacionados a la Ing. Civil, Ambiental y Arquitectura. El
      otro sitio web está
      orientado al asesoramiento y servicios agrícolas, finacieras y ambientales - SEFFA
    </p>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 text-center">
          <p>Link: <a href="https://grupovygingenieros.com/" target="_blank">V&G Grupo
              Ingenieros</a>
            <figure class="figure">
              <img src="./assets/img/grupo-vg-ingenieros.PNG" class="figure-img img-fluid rounded" alt="...">
              <figcaption class="figure-caption">V&G Grupo Ingenieros</figcaption>
            </figure>
          </p>
        </div>
        <div class="col-sm-12 col-md-6 text-center">
          <p>Link: <a href="https://fmunives.github.io/SEFAA/" target="_blank">Servicios
              Financieros
              Agrícolas y
              Ambientales - SEFAA</a> </p>
          <figure class="figure">
            <img src="./assets/img/sefaa.PNG" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">SEFAA</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
